<div id="prueba">
    <h1>Agencia Viaje TA</h1>
    <div class="Parrafos">
        <div class="card card1" style="width: 18rem;">
            <img src="../../../assets/imagenes/usuarios.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h4 class="card-title">Usuarios</h4>
                <p class="card-text">Altas,Editar, Bajas y Consultas</p>
                <a (click)="redireccionarUsuario()" class="btn btn-primary">Crear</a>
            </div>
        </div>
        <div class="card card2" style="width: 18rem;">
            <img src="../../../assets/imagenes/avion-logo.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h4 class="card-title">Aerolineas</h4>
                <p class="card-text">Altas,Editar, Bajas y Consultas</p>
                <a (click)="redireccionarAerolinea()" class="btn btn-primary">Crear</a>
            </div>
        </div>
        <div class="card card3" style="width: 18rem;">
            <img src="../../../assets/imagenes/hotel.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h4 class="card-title">Hotel</h4>
                <p class="card-text">Altas,Editar, Bajas y Consultas</p>
                <a (click)="redireccionarHotel()" class="btn btn-primary">Crear</a>
            </div>
        </div>
        <div class="card card4" style="width: 18rem;">
            <img src="../../../assets/imagenes/reservacion.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h4 class="card-title">Reservacion</h4>
                <p class="card-text">Altas,Editar, Bajas y Consultas</p>
                <a (click)="redireccionarListaReservaciones()" class="btn btn-primary">Crear</a>
            </div>
        </div>
    </div>
</div>