<div class="col-md-6 offset-md-3 card-header">
    <h3 class="text-center">REGISTRO DE HOTEL</h3>
    <form (ngSubmit)="guardarHotel()" #hotelForm="ngForm">
        <div class="form-group">
            <label>Nombre del Hotel*</label>
            <input type="text" class="form-control" id="nameHotel" [(ngModel)]="hoteles.nameHotel" name="nameHotel"
                required minlength="1" maxlength="50" #nameHotel="ngModel">
            <div class="alert alert-danger" *ngIf="nameHotel.invalid && (nameHotel.dirty || nameHotel.touched)">
                <div *ngIf="nameHotel.errors.required">
                    El nombre del hotel es requerido
                </div>
            </div>
            <label>Seleccione ciudad*</label>
            <select class="form-control" name="cityD" id="cityD" [(ngModel)]="ciudadD.idCity">
                <option *ngFor="let ciudad of ciudades" [value]="ciudad.idCity">{{ ciudad.name }}</option>
            </select>
            <label>Dirección*</label>
            <input type="text" class="form-control" id="addressHotel" [(ngModel)]="hoteles.addressHotel"
                name="addressHotel" required minlength="1" maxlength="50" #addressHotel="ngModel">
            <div class="alert alert-danger"
                *ngIf="addressHotel.invalid && (addressHotel.dirty || addressHotel.touched)">
                <div *ngIf="addressHotel.errors.required">
                    La dirección es requerida
                </div>
            </div>
            <label class="logov">Logo* </label>
            <br>
            <img [src]="imgURL" height="80" width="80" *ngIf="imgURL"><br><br>
            <input class="form-control" (change)="capturaImagen($event)" id="urlimg"
                accept="image/x-png, image/gif, image/jpeg" type="file" required>
            <br>
            <label>Código*</label>
            <input type="text" class="form-control" id="codeHotel" [(ngModel)]="hoteles.codeHotel" name="codeHotel"
                required minlength="1" maxlength="20" #codeHotel="ngModel">
            <div class="alert alert-danger" *ngIf="codeHotel.invalid && (codeHotel.dirty || codeHotel.touched)">
                <div *ngIf="codeHotel.errors.required">
                    El código es requerido
                </div>
            </div>
        </div>
        <br>
        <button class="btn btn-success" [disabled]="!hotelForm.form.valid">Guardar</button>
        <button type="button" class="btn btn-danger" (click)="listaDeHoteles()">Cancelar</button>
    </form>
</div>